// color
$red = #E60012
$black = #000
$blackTransparent = rgba(0, 0, 0, .5)
$white = #FFF
$whiteTransparent = rgba(255, 255, 255, .5)
$whiteTransparent2 = rgba(255, 255, 255, .15)
$pink = #FFAAAA
$nightBlue = #6768F5
$space = #9760F6
$gray = #888
$lightGray = #EEE
// ui
$text = $black
$textMuted = $gray
$textContrast = $white
$textContrastMuted = $whiteTransparent

$bg = $lightGray

$primary = $nightBlue
$secondary = $space

// size
$desktop-large = 1279px
$desktop = 1023px
$tablet = 767px
$phone = 639px
$phone-small = 479px

// z-index
$zindex-header = 1000
